#prepa{
	width: 14%;
	height: 14%;
	float: right;
}

#universidad{
	width: 20%;
	height: 20%;
	float: left;
}

#titulo{
	text-align: center;
}

.titulos{
	text-align: left;
	color: #B00606;
}

#img_sec2{
	width: 35%;
	height: 35%;
}

#imgsec4{
	width: 20.5%;
}

#sec3{
	width: 65%;
	height: 65%;
}

#sec4{
	height: 20.5%;
	width: 45%;
}

#acerca{
	color: gray;
	text-align: left;
}

*{ 
	margin: 0;
box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{ 
	font-family: sans-serif;
}
.logo{
    width: 90px;
    height: 50px;
}
.contenedor{
   width: 100%;
    margin: auto;
}
.header{
   background-color: rgb(13, 72, 107);
   border-bottom: 1px solid skyblue ;
	position: relative;
	width: 100%;
}
.header .contenedor{
    display: flex;
     justify-content: space-between;
}
.logo,.icon-menu{
    margin: 5px;
    color: #fff;
}
.icon-menu{
    display: block;
    width: 40px;
    font-size: 30px;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    cursor: pointer;
}
.nav{ 
    position: absolute;
    top: 60px;
    left: -100%;
    transition: all 0.5s;
    width: 100%;
    z-index: 100;
}
.menu{
    list-style: none;
    padding: 0;margin: 0;  
}
.menu__link{
     cursor: pointer; display: block;
    padding: 15px;
    background-color: rgb(13, 72, 107);
    color: #fff ;
    height: 60px;
    border-bottom: 1px solid skyblue ;
    font-size: 20px;
	  text-decoration: none;
}
.menu__link:hover{
    background:#037e8c  ;
    color: #fff;
}
.muestrate{
    left: 0;
}

/**/
section{
    text-align: center;
    line-height: 25px;
    margin: 0px 20px 0px 20px;
    border-bottom: 10px solid rgb(13, 72, 107);
}

.parrafo__columna h1{
    font-size: 40px;
    padding: 20px;
}

.parrafo__columna p{
   text-align: justify
}

@media(min-width:1024px){
   .contenedor{
        width: 1000px;
    }
    .nav {
    position: static;
    width: auto;
  }
  .menu {
    display: flex;
  }
  .icon-menu {
    display: none;
  }
	.menu__link{
		border: none;
	}
}

@media(min-width:1200px){
   .contenedor{
        width: 1200px;
	}
}